<div class="container-fluid customContainer">
    <div class="row header py-3 py-sm-4 py-lg-5">
        <div class="col-12 col-lg-7 d-flex align-items-center">
            <img src="assets/imgs/user-blank.jpg" class="avatar rounded-circle me-3">
            <div>
                <div class="d-flex align-items-center">
                    <h2 class="m-0 mb-2"> Anonymous </h2>
                    <img src="assets/icons/edit.svg" class="localIcon ms-1">
                </div>
                <div class="d-flex align-items-center">
                    <h5 class="m-0 wallet-address"> {{ walletAddress }} </h5>
                    <button mat-icon-button ngxClipboard [cbContent]="walletAddress">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>
                <div class="d-none d-sm-block d-lg-none mt-3">
                    <h5 class="mb-2"> Total balance </h5>
                    <div class="d-flex align-items-center">
                        <img src="assets/icons/neo-gas.svg" class="icon me-2">
                        <h2 class="m-0 me-3"> {{ account?.amount }} </h2>
                        <!-- <h3 class="m-0"> $550 </h3> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-sm-none d-lg-block col-12 col-lg-5 mt-4">
            <h5 class="mb-2"> Total balance </h5>
            <div class="d-flex align-items-center">
                <img src="assets/icons/neo-gas.svg" class="icon me-2">
                <h2 class="m-0 me-3"> {{ account?.amount }} </h2>
                <!-- <h3 class="m-0"> $550 </h3> -->
            </div>
        </div>
    </div>

    <div class="row content">
        <div class="col-12 buttons d-block d-sm-flex align-items-center justify-content-between">
            <div class="d-block d-sm-none mb-3 mt-sm-0">
                <button mat-raised-button color="primary" class="add" (click)="createNew()">
                    <p class="m-0">
                        {{ type === 'myCollection' ? '+ Add new collection' : '+ Add more NFT' }}
                    </p>
                </button>
            </div>
            <div class="d-flex align-items-center">
                <button mat-raised-button class="type me-3" [class.active]="type === 'myCollection'" (click)="type = 'myCollection'">
                    <h5 class="m-0"> My Collection </h5>
                </button>
                <button mat-raised-button class="type me-3" [class.active]="type === 'myNft'" (click)="type = 'myNft'">
                    <h5 class="m-0"> My Nft </h5>
                </button>
                <button mat-raised-button class="type me-3" [class.active]="type === 'myFavorites'" (click)="type = 'myFavorites'">
                    <h5 class="m-0"> My Favorites </h5>
                </button>
            </div>
            <div class="d-none d-sm-block mt-3 mt-sm-0">
                <button mat-raised-button color="primary" class="add" (click)="createNew()">
                    <p class="m-0">
                        {{ type === 'myCollection' ? '+ Add new collection' : '+ Add more NFT' }}
                    </p>
                </button>
            </div>
        </div>

        <div class="col-12 myCollection mt-4 mt-lg-5" *ngIf="type === 'myCollection'">
            <div class="row">
                <div class="col-12 col-sm-4 my-3" *ngFor="let collection of collections">
                    <div class="card border-0" (click)="goCollectionVar(collection)">
                        <img [src]="collection.previewUrl" class="preview-image cardImg w-100">
                        <div class="detail p-2 p-lg-3">
                            <h5 class="m-0 fw-bold"> {{ collection.name }} </h5>
                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <h5> Volume traded </h5>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/icons/neo-gas.svg" class="me-2">
                                        <p class="m-0 fw-light">
                                            {{ collection.balance }}
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <p class="m-0"> {{ collection.totalSupply }} items </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 myNft mt-4 mt-lg-5" *ngIf="type === 'myNft'">
            <div class="row">
                <div class="col-12 col-sm-4 my-3" *ngFor="let item of nftItems" (click)="openNFTCard(item)">
                    <div class="card border-0">
                        <img [src]="item.previewUrl" class="preview-image cardImg w-100">
                        <div class="detail p-2 p-lg-3">
                            <h4 class="m-0 fw-bold"> {{ item.name }} </h4>
                            <div>
                                <span> #{{ item.index }} </span>
                            </div>
                            <div class="d-flex align-items-end justify-content-between mt-3">
                                <div class="d-flex align-items-center">
                                    <img src="assets/imgs/user-blank.jpg" class="userAvatar me-2">
                                    <div>
                                        <h3 class="m-0 font-weight-light">
                                            {{ item.authorName }}
                                        </h3>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center">
                                    <img src="assets/icons/neo-gas.svg" class="me-2 currency-icon">
                                    <h4 class="m-0 fw-bold"> {{ item.price?.price }} </h4>
                                </div>
                                <!-- <div>
                                    <h3 class="m-0 mb-1 font-weight-light text-end">
                                        $550
                                    </h3>
                                    <p class="m-0 font-weight-light">
                                        Last 0,0009
                                    </p>
                                </div> -->
                            </div>
                        </div>
        
                        <div class="favorite">
                            <mat-icon class="d-flex align-items-center justify-content-center"> {{ item.type === 'Artwork' ? "favorite" : "favorite_border" }} </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>