<div class="container-fluid">
    <div class="close">
        <mat-icon (click)="close()">close</mat-icon>
    </div>

    <div class="row text-center mb-3">
        <h3> Checkout </h3>
    </div>

    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h5> Item </h5>
            <h5> Subtotal </h5>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <img [src]="nftItem?.previewUrl" class="nft-image me-2">
                <div>
                    <h5 class="m-0 mb-1"> {{ nftItem?.name }} </h5>
                    <h4 class="m-0 fw-bold mb-1"> {{ nftItem?.type }} </h4>
                    <span> #{{ nftItem?.index }} </span>
                </div>
            </div>
            <div>
                <div class="d-flex align-items-center mb-1">
                    <img src="assets/icons/neo-gas.svg" class="me-2 currency-icon">
                    <h3 class="m-0"> {{ nftItem?.price?.price }} </h3>
                </div>
                <!-- <h5 class="text-end"> $550 </h5> -->
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <h5> Fee </h5>
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h5> To Tantails </h5>
            <div class="d-flex align-items-center">
                <img src="assets/icons/neo-gas.svg" class="me-2 currency-icon">
                <h5 class="m-0"> {{ nfItemAmounts.providerFee }} </h5>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h5> To Author </h5>
            <div class="d-flex align-items-center">
                <img src="assets/icons/neo-gas.svg" class="me-2 currency-icon">
                <h5 class="m-0"> {{ nfItemAmounts.authorFee }} </h5>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h3 class="m-0"> Total </h3>
            <div>
                <div class="d-flex align-items-center mb-1">
                    <img src="assets/icons/neo-gas.svg" class="me-2 currency-icon">
                    <h3 class="m-0"> {{ nfItemAmounts.total }} </h3>
                </div>
                <!-- <h5 class="m-0 text-end"> $570 </h5> -->
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <h5 class="m-0"> Your balance </h5>
        <div class="col-12 d-flex align-items-center mb-4">
            <img src="assets/icons/neo-gas.svg" class="me-2 currency-icon">
            <h3 class="m-0 me-2"> {{ account?.amount }} </h3>
            <!-- <h3 class="m-0 fw-lighter"> $550 </h3> -->
        </div>
        <div class="col-12">
            <div>
                <mat-checkbox class="example-margin">
                    <h5>
                        I have read and agree with the Terms and Conditions.
                    </h5>
                </mat-checkbox>
            </div>

            <div>
                <mat-checkbox class="example-margin">
                    <h5>
                        I like Tantlis project.
                    </h5>
                </mat-checkbox>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-4 mb-2 mb-sm-3">
        <button mat-raised-button color="primary" class="checkoutBtn" (click)="checkOut()">
            Checkout
        </button>
    </div>
</div>