.container-fluid.customContainer {
    .row.trade {
        .leftPanel {
            h1 {
                font-weight: 900 !important;
            }
            h3 {
                font-size: 18px !important;
                font-weight: 600 !important;
            }
            .buttons {
                padding-bottom: 3px;
                button.explore {
                    width: 200px;
                    height: 45px;
                    background-color: #8470DA;
                    border-radius: 8px;
                }
                button.create {
                    width: 200px;
                    height: 45px;
                    border-radius: 8px;
                    border: 1px solid #8470DA;
                    color: #8470DA;
                    box-shadow: none;
                }
            }
            hr {
                background-color: #D3DCE6;
                height: 2px;
            }
            .count {
                h1 {
                    font-size: 36px !important;
                    font-weight: 700 !important;
                }
                h3 {
                    color: #8492A5;
                    font-size: 20px !important;
                }
            }
        }
        .rightPanel {
            cursor: pointer;
            .hero-item-image-container {
                img {
                    height: 500px;
                }
            }
            .hero-item-details {
                background: #EEF2F7;
                border-radius: 0px 0px 8px 8px;
                h2 {
                    font-size: 24px !important;
                    font-weight: 700 !important;
                }
                h3 {
                    font-size: 16px !important;
                }
                img.userAvatar {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .dignitalAsset {
        h1 {
            font-size: 40px !important;
            font-weight: 800 !important;
        }
        p {
            font-size: 14px !important;
            font-weight: 700 !important;
        }
        a {
            font-size: 12px !important;
            font-weight: 700 !important;
            color: #8470DA;
            text-decoration: none;
        }
        .card {
            border-radius: 8px;
            cursor: pointer;
            .detail {
                background-color: #EEF2F7;
                border-radius: 0 0 8px 8px;
                h4 {
                    font-size: 16px !important;
                    font-weight: 600 !important;
                }
                span {
                    font-size: 12px !important;
                    font-weight: 400 !important;
                    color: #5F6E80;
                }
                h3 {
                    font-size: 16px !important;
                    font-weight: 400 !important;
                }
                p {
                    font-size: 12px !important;
                    font-weight: 400 !important;
                }
            }
        }
    }

    .trendingCollections {
        h5 {
            font-weight: 600 !important;
        }
        .card {
            border-radius: 8px;
            cursor: pointer;
            img.cardImg {
                border-radius: 8px 8px 0 0;
            }
            .detail {
                background-color: #EEF2F7;
                border-radius: 0 0 8px 8px;
                p {
                    color: #5F6E80;
                }
                h3 {
                    font-size: 16px !important;
                    font-weight: 400 !important;
                }
            }
        }
    }

    .howItWorks {
        p {
            line-height: 21px !important;
        }
    }

    .browseCategory {
        .card {
            border-radius: 8px;
            border-color: #EEF2F7;
            &:hover {
                background: #EEF2F7;
            }
            a {
                font-size: 14px !important;
                line-height: 21px !important;
                font-weight: 700 !important;
                color: #8470DA;
                text-decoration: none;
            }
            .description {
                min-height: 50px;
            }
        }
        button {
            width: 171px;
            height: 45px;
            background: #8470DA;
        }
    }
}

@media screen and (max-width: 1100px) {
    .container-fluid.customContainer {
        .browseCategory {
            .card {
                .description {
                    min-height: 66px;
                }
            }
        }
    }
}


@media screen and (max-width: 991px) {
    .container-fluid.customContainer {
        .row.trade {
            .leftPanel {
                h1 {
                    font-size: 24px !important;
                }
                h3 {
                    font-size: 16px !important;
                }
                .buttons {
                    button.explore {
                        width: 170px;
                    }
                    button.create {
                        width: 170px;
                    }
                }
                .count {
                    h1 {
                        font-size: 24px !important;
                    }
                    h3 {
                        font-size: 16px !important;
                    }
                }
            }
            .rightPanel {
                .hero-item-details {
                    h2 {
                        font-size: 16px !important;
                    }
                    h3 {
                        font-size: 12px !important;
                    }
                }
            }
        }

        .dignitalAsset {
            h1 {
                font-size: 24px !important;
            }
            .card {
                .detail {
                    // img.userAvatar {
                    //     width: 20px;
                    // }
                    h4 {
                        font-size: 14px !important;
                    }
                    h3 {
                        font-size: 12px !important;
                    }
                    p {
                        font-size: 12px !important;
                    }
                }
            }
        }
        .browseCategory {
            .card {
                .description {
                    min-height: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container-fluid.customContainer {
        .row.trade {
            .rightPanel {
                .hero-item-image-container {
                    img {
                        height: 450px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .container-fluid.customContainer {
        .row.trade {
            .rightPanel {
                .hero-item-image-container {
                    img {
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .container-fluid.customContainer {
        .row.trade {
            .rightPanel {
                .hero-item-image-container {
                    img {
                        height: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .container-fluid.customContainer {
        .row.trade {
            .leftPanel {
                .buttons {
                    button.explore {
                        width: 46%;
                    }
                    button.create {
                        width: 46%;
                    }
                }
            }
        }

        .dignitalAsset {
            .card {
                .detail {
                    // img.userAvatar {
                    //     width: 32px;
                    // }
                    h4 {
                        font-size: 16px !important;
                    }
                    h3 {
                        font-size: 14px !important;
                    }
                    p {
                        font-size: 12px !important;
                    }
                }
            }
        }
        .browseCategory {
            .card {
                .description {
                    min-height: 30px;
                }
            }
        }
    }
}