<div class="container-fluid customContainer">
    <div class="row py-3 py-sm-4 d-flex align-items-center">
        <mat-icon class="me-3 me-sm-4">keyboard_arrow_left</mat-icon>
        <div class="step d-flex align-items-center justify-content-center"> Step3 </div>
    </div>

    <div class="row">
        <h2> Create your collection </h2>
    </div>

    <div class="row mx-0 content d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-9 col-lg-6 my-3 my-sm-4 py-lg-5">
            <form [formGroup]="form">
                <p class="fw-bold">
                    Logo
                </p>
                <p class="mb-4">
                    (350 x 350 recommended)
                </p>
                <div class="imgUpload d-flex align-items-end justify-content-center p-3 p-sm-4 mb-5" (click)="fileInput.click()">
                    <img *ngIf="!uploadedFile" src="assets/imgs/createCollection/image.png">

                    <div *ngIf="uploadedFile" class="file-uploaded-container">
                        <div class="file-uploaded-icon-container">
                            <mat-icon>check_circle</mat-icon>
                        </div>

                        {{ uploadedFile.name }}
                    </div>
                    
                    <p class="text-center">
                        Browse media on your device
                    </p>
                    <input class="upload-input" type="file" #fileInput (change)="uploadFile($event)">
                </div>

                <div class="my-3">
                    <p class="mb-2"> Name </p>
                    <input type="text" class="form-control" formControlName="name" placeholder="Name">
                </div>

                <div class="my-3">
                    <p class="mb-2"> Symbol </p>
                    <input type="text" class="form-control" formControlName="symbol" placeholder="Symbol">
                </div>

                <div class="my-3">
                    <p class="mb-2"> Art </p>
                    <select class="form-select border-0" formControlName="type" aria-label="Default select example">
                        <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
                    </select>
                </div>
                <div class="my-3">
                    <div class="form-group">
                        <label for="description" class="mb-2"> Descripition </label>
                        <textarea class="form-control" id="description" formControlName="description" placeholder="Descripition"
                            rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu facilisi ultrices ac lorem faucibus.</textarea>
                    </div>
                </div>
                <div class="mt-4">
                    <button mat-raised-button color="primary" (click)="createCollection()"> Create your collection </button>
                </div>
            </form>
        </div>
    </div>
</div>