.container-fluid {
    .step-container {
        button {
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin-right: 5px;
        }
        .step {
            width: 81px;
            height: 34px;
            background-color: #EEF2F7;
            border-radius: 8px;

        }
    }
}