<div class="container-fluid customContainer">
    <div class="row py-3 py-sm-4 py-lg-5 d-flex align-items-center">
        <mat-icon class="me-3 me-sm-4">keyboard_arrow_left</mat-icon>
        <div class="step d-flex align-items-center justify-content-center"> Step1 </div>
    </div>

    <div class="row">
        <h2> Select collection or create new </h2>
    </div>

    <div class="row">
        <div class="col-12 col-sm-4 my-3" *ngFor="let collection of collections">
            <div class="card border-0" (click)="createNftItem(collection)">
                <img [src]="collection.previewUrl" class="preview-image cardImg w-100">
                <div class="detail p-2 p-lg-3">
                    <h5 class="m-0 fw-bold"> {{ collection.name }} </h5>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h5> Volume traded </h5>
                            <div class="d-flex align-items-center">
                                <img src="assets/icons/neo-gas.svg" class="me-2 currency-icon">
                                <p class="m-0 fw-light">
                                    {{ collection.balance }}
                                </p>
                            </div>
                        </div>
                        <div>
                            <p class="m-0"> {{ collection.totalSupply }} items </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 text-center my-3 my-sm-4 mb-5">
            <button mat-raised-button color="primary" class="add" routerLink="/create-collection">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/icons/plus.svg" class="me-2">
                    <span class="mt-1"> Add new collection </span>
                </div>
            </button>
        </div>
    </div>
</div>