.content {
    background-color: #eef2f7;
    border-radius: 8px;
    .imgUpload {
        max-width: 100%;
        width: 353px;
        height: 225px;
        border: 1px dashed #5f6e80;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
        .file-uploaded-container {
            position: absolute;
            text-align: center;
            top: 30%;
            .file-uploaded-icon-container {
                display: flex;
                justify-content: center;
                mat-icon {
                    color: #4caf50;
                    height: 40px;
                    width: 40px;
                    font-size: 40px;
                }
            }
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    input {
        border-radius: 3px;
        height: 45px;
        font-size: 16px;
        border: 0;
        background-color: #ffffff;
        &::placeholder {
            font-size: 16px;
        }
    }
    .input-group {
        background: white;
        border-radius: 3px;
        &:focus-within {
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
        }
        input {
            &:focus {
                box-shadow: none;
            }
        }
        .input-group-text {
            border: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
    select {
        border-radius: 3px;
        height: 45px;
    }
    textarea {
        border: 0;
        resize: none;
    }
    button {
        height: 45px;
        width: 191px;
        border-radius: 8px;
    }
    button:not(:disabled) {
        background-color: #8470da;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
