<div class="container-fluid customContainer">
    <div class="row py-4">
        <div class="col-12">
            <div class="step d-flex align-items-center justify-content-center"> Step1 </div>
        </div>
    </div>

    <div class="row pb-3 pb-sm-4 pb-lg-5">
        <h2 class="mb-4"> Choose NFT Option </h2>
        <div class="col-12 col-sm-6 my-3">
            <div class="card border-0 p-3 p-sm-4 p-lg-5">
                <h2 class="text-center"> Simple </h2>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Est gravida donec magna eu diam, ultricies.
                </p>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Est gravida donec magna eu diam, ultricies.
                </p>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div class="text-center mt-4">
                    <button mat-raised-button color="primary" routerLink="/select-create-collection"> Create your NFT </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 my-3">
            <div class="card border-0 p-3 p-sm-4 p-lg-5">
                <h2 class="text-center"> Full contract </h2>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Est gravida donec magna eu diam, ultricies.
                </p>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Est gravida donec magna eu diam, ultricies.
                </p>
                <p>
                    <img src="assets/icons/circle-center.svg" class="me-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div class="text-center mt-4">
                    <button mat-raised-button color="primary" routerLink="/select-create-collection"> Create your NFT </button>
                </div>
            </div>
        </div>
    </div>
</div>